.card {
  margin: 10px;
  padding: 15px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
